s-wmos-api/s-wmos-api/target/META-INF/mule-src/s-wmos-api/src/main/mule/s-wmos-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <flow name="s-wmos-api-main">
        <http:listener path="/api/*" config-ref="s-wmos-api-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[output application/java
---
{
	"httpStatus" : vars.httpStatus
}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[%dw 2.0
output application/json
var winError = if (error.errorType.namespace[0 to 2] == 'WIN') true else false
---
{
"status":  "FAILURE",
"errors" : [
if  (winError) 
  {
    error: {
		errorType: (error.errorType.namespace ++ ":") ++ error.errorType.identifier,
		errorCategory: "B",
		errorDescription: vars.msgLog.Description,
		errorText: error.detailedDescription
	}
  }
else 
  {
    error: {
		errorType: (error.errorType.namespace ++ ":") ++ error.errorType.identifier,
		errorCategory: "T",
		errorDescription: "Your request has not been processed due to a System Fault. Please contact IT Support for further help.",
		errorText: error.detailedDescription
	}
  }
  ]}]]]></http:body>
                <http:headers><![CDATA[#[output application/java
---
{
	"httpStatus" : vars.httpStatus
}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="s-wmos-api-config" />
        <error-handler ref="APIKIT_Error_Handler" />
    </flow>
    <flow name="s-wmos-api-console">
        <http:listener path="/console/*" config-ref="s-wmos-api-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="s-wmos-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\WMOS\inbound\purchaseOrder\(purchaseOrderNumber)\close:application\json:s-wmos-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="purchaseOrderNumber">attributes.uriParams.'purchaseOrderNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "The Purchase Order was closed successfully for Business Unit x"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\WMOS\inbound\asn\(asnNumber):application\json:s-wmos-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="asnNumber">attributes.uriParams.'asnNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "The request was accepted by the application succesfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\WMOS\outbound\distributionOrders\(distributionOrderNumber):application\json:s-wmos-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="distributionOrderNumber">attributes.uriParams.'distributionOrderNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "The Distribution Order was updated successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\WMOS\masterdata\product\(productIdentifier):application\json:s-wmos-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="productIdentifier">attributes.uriParams.'productIdentifier'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "The product was updated successfully for the Business Unit"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\WMOS\inbound\purchaseOrder\(purchaseOrderNumber):application\json:s-wmos-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="purchaseOrderNumber">attributes.uriParams.'purchaseOrderNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "The Purchase Order was updated successfully for Business Unit x"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\WMOS\outbound\distributionOrders\(distributionOrderNumber):application\json:s-wmos-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="distributionOrderNumber">attributes.uriParams.'distributionOrderNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "The Distribution Order was cancelled successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\WMOS\masterdata\product\(productIdentifier):application\json:s-wmos-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="productIdentifier">attributes.uriParams.'productIdentifier'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "The product was cancelled successfully for the Business Unit"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\WMOS\inbound\purchaseOrder\(purchaseOrderNumber):application\json:s-wmos-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="purchaseOrderNumber">attributes.uriParams.'purchaseOrderNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "The Purchase Order was cancelled successfully for Business Unit x"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\WMOS\outbound\distributionOrders:s-wmos-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  order: {
    header: {
      orderNumber: "",
      businessUnit: "102",
      orderType: "Customer Order",
      isCancelled: false,
      billingMethod: "",
      status: "Released",
      originDetails: {
        facility: "",
        address: {
          addressLine1: "",
          addressLine2: "",
          city: "",
          countryCode: "",
          postalCode: "",
          stateProv: ""
        },
        contact: {
          firstName: "",
          lastName: "",
          phoneNumber: "",
          emailId: "",
          faxNumber: ""
        }
      },
      destinationDetails: {
        facility: "",
        address: {
          addressLine1: "Widnes Stadium",
          addressLine2: "Lower House Lane",
          city: "Widnes",
          countryCode: "UK",
          postalCode: "WA8 7DZ",
          stateProv: ""
        },
        contact: {
          firstName: "Bruce",
          lastName: "Reardon",
          phoneNumber: "0151 511 6130",
          emailId: "",
          faxNumber: ""
        }
      },
      shipmentDetails: {
        pickUp: {
          startDate: "01/18/2021",
          startTime: "00:00",
          endDate: "01/18/2021",
          endTime: "23:59"
        },
        delivery: {
          startDate: "01/19/2021",
          startTime: "00:00",
          endDate: "01/19/2021",
          endTime: "23:59"
        },
        Classification: {
          productClass: "",
          protectionLevel: "",
          isHazmat: true,
          isPerishable: true,
          transportationResponsibilityCode: ""
        }
      }
    },
    lineItems: [
      {
        lineItemNo: "1",
        itemName: "TK1573",
        itemTin: "?",
        description: "?",
        orderSize: 175500,
        orderSizeUOM: "Units",
        totalMonetaryValue: 0,
        unitMonetaryValue: 0,
        allowSubstitution: false,
        commodityClassCode: "?",
        productClassCode: "?",
        protectionLevelCode: "?",
        isCancelled: false,
        isClosed: false
      }
    ]
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\WMOS\inbound\asn\(asnNumber)\lpnRecieved:s-wmos-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="asnNumber">attributes.uriParams.'asnNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  asn: {
    contextId: "",
    header: {
      asnNumber: "2316061801",
      asnType: "",
      businessUnit: "101",
      originFacility: "",
      originType: "M",
      destinationFacility: "01",
      shipmentNo: "",
      status: "20",
      pickUp: {
        StartDate: "28062020",
        StartTime: "100956",
        EndDate: "31102020",
        EndTime: "165815"
      },
      delivery: {
        StartDate: "28062020",
        StartTime: "100956",
        EndDate: "31102020",
        EndTime: "165815"
      }
    },
    asnDetails: [
      {
        poNumber: "2316061801",
        asnLines: [
          {
            LineItemNo: "010001",
            iteamName: "703691",
            shippedQuantity: 12,
            batch: "",
            businessPartner: "",
            countryOforigin: ""
          }
        ]
      }
    ]
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\WMOS\masterdata\product:s-wmos-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  product: {
    contextId: "",
    productDetails: {
      itemName: "703421",
      description: "FUNTIME SUNLOUNGER",
      businessUnit: "101",
      productClass: "",
      protectionLevel: "",
      baseStorageUOM: "",
      productBarCode: "2200004130002",
      supplierProductBarCode: "",
      productCosts: [],
      productPrice: [],
      facilities: [],
      productPackageData: {
        productPackage: {
          packageUOM: "Pack",
          quantity: 1
        }
      },
      productFacilityWmos: [],
      bondedProduct: false,
      seasonalProduct: false,
      productWmos: {
        batchReqd: "",
        cntryOfOrgnReqd: "",
        dateCode: "",
        dateWindow: "",
        expDateReqd: "",
        mfgDateReqd: "",
        prodStatReqd: "",
        promptForVendor: "",
        shipByDateReqd: ""
      }
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\WMOS\inbound\asn\(asnNumber)\quantityRecieved:s-wmos-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="asnNumber">attributes.uriParams.'asnNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  asn: {
    contextId: "",
    header: {
      asnNumber: "2316061801",
      asnType: "",
      businessUnit: "101",
      originFacility: "",
      originType: "M",
      destinationFacility: "01",
      shipmentNo: "",
      status: "20",
      pickUp: {
        StartDate: "28062020",
        StartTime: "100956",
        EndDate: "31102020",
        EndTime: "165815"
      },
      delivery: {
        StartDate: "28062020",
        StartTime: "100956",
        EndDate: "31102020",
        EndTime: "165815"
      }
    },
    asnDetails: [
      {
        poNumber: "2316061801",
        asnLines: [
          {
            LineItemNo: "010001",
            iteamName: "703691",
            shippedQuantity: 12,
            batch: "",
            businessPartner: "",
            countryOforigin: ""
          }
        ]
      }
    ]
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\WMOS\inbound\asn\(asnNumber):s-wmos-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="asnNumber">attributes.uriParams.'asnNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  asn: {
    contextId: "",
    header: {
      asnNumber: "2316061801",
      asnType: "",
      businessUnit: "101",
      originFacility: "",
      originType: "M",
      destinationFacility: "01",
      shipmentNo: "",
      status: "20",
      pickUp: {
        StartDate: "28062020",
        StartTime: "100956",
        EndDate: "31102020",
        EndTime: "165815"
      },
      delivery: {
        StartDate: "28062020",
        StartTime: "100956",
        EndDate: "31102020",
        EndTime: "165815"
      }
    },
    asnDetails: [
      {
        poNumber: "2316061801",
        asnLines: [
          {
            LineItemNo: "010001",
            iteamName: "703691",
            shippedQuantity: 12,
            batch: "",
            businessPartner: "",
            countryOforigin: ""
          }
        ]
      }
    ]
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\WMOS\outbound\distributionOrders\(distributionOrderNumber):s-wmos-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="distributionOrderNumber">attributes.uriParams.'distributionOrderNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  order: {
    header: {
      orderNumber: "",
      businessUnit: "102",
      orderType: "Customer Order",
      isCancelled: false,
      billingMethod: "",
      status: "Released",
      originDetails: {
        facility: "",
        address: {
          addressLine1: "",
          addressLine2: "",
          city: "",
          countryCode: "",
          postalCode: "",
          stateProv: ""
        },
        contact: {
          firstName: "",
          lastName: "",
          phoneNumber: "",
          emailId: "",
          faxNumber: ""
        }
      },
      destinationDetails: {
        facility: "",
        address: {
          addressLine1: "Widnes Stadium",
          addressLine2: "Lower House Lane",
          city: "Widnes",
          countryCode: "UK",
          postalCode: "WA8 7DZ",
          stateProv: ""
        },
        contact: {
          firstName: "Bruce",
          lastName: "Reardon",
          phoneNumber: "0151 511 6130",
          emailId: "",
          faxNumber: ""
        }
      },
      shipmentDetails: {
        pickUp: {
          startDate: "01/18/2021",
          startTime: "00:00",
          endDate: "01/18/2021",
          endTime: "23:59"
        },
        delivery: {
          startDate: "01/19/2021",
          startTime: "00:00",
          endDate: "01/19/2021",
          endTime: "23:59"
        },
        Classification: {
          productClass: "",
          protectionLevel: "",
          isHazmat: true,
          isPerishable: true,
          transportationResponsibilityCode: ""
        }
      }
    },
    lineItems: [
      {
        lineItemNo: "1",
        itemName: "TK1573",
        itemTin: "?",
        description: "?",
        orderSize: 175500,
        orderSizeUOM: "Units",
        totalMonetaryValue: 0,
        unitMonetaryValue: 0,
        allowSubstitution: false,
        commodityClassCode: "?",
        productClassCode: "?",
        protectionLevelCode: "?",
        isCancelled: false,
        isClosed: false
      }
    ]
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\WMOS\masterdata\product\(productIdentifier):s-wmos-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="productIdentifier">attributes.uriParams.'productIdentifier'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  product: {
    contextId: "",
    productDetails: {
      itemName: "703421",
      description: "FUNTIME SUNLOUNGER",
      businessUnit: "101",
      productClass: "",
      protectionLevel: "",
      baseStorageUOM: "",
      productBarCode: "2200004130002",
      supplierProductBarCode: "",
      productCosts: [],
      productPrice: [],
      facilities: [],
      productPackageData: {
        productPackage: {
          packageUOM: "Pack",
          quantity: 1
        }
      },
      productFacilityWmos: [],
      bondedProduct: false,
      seasonalProduct: false,
      productWmos: {
        batchReqd: "",
        cntryOfOrgnReqd: "",
        dateCode: "",
        dateWindow: "",
        expDateReqd: "",
        mfgDateReqd: "",
        prodStatReqd: "",
        promptForVendor: "",
        shipByDateReqd: ""
      }
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\WMOS\inbound\asn:application\json:s-wmos-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "The ASN was created successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\WMOS\authentication:application\json:s-wmos-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Authentication for 'user x' was successfull"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b1dc6d76-5563-46de-84b8-8d16ce7f5cae" message="sucess test"/>
		<raise-error doc:name="Raise error" doc:id="6e2302fd-8c2e-46db-961e-aa0fa6e193f1" type="BUSINESS:TEST" description="error testing"/>
    </flow>
    <flow name="post:\WMOS\outbound\distributionOrders:application\json:s-wmos-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "The item was created successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\WMOS\masterdata\product:application\json:s-wmos-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "The product was created successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\WMOS\inbound\purchaseOrder:application\json:s-wmos-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "The Purchase Order was created successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
